<%
const hasStatusField = this.hasStatusField(fields, this)
%>
<div cdkDrag class="dialog-mask" [ngaTranslatePrefix]="translatePrefix()">
  <form
    class="dialog col-12 sm:col-11 max-w-45rem"
    name="changeStatusForm"
    (ngSubmit)="confirmChangeStatus()"
  >
    <div class="dialog-header dialog-movable">
      <div class="dialog-title" cdkDragHandle>
        <span [ngaTranslate]="['changeStatus', status, 'title'] | toPath">Confirm change status operation</span>
      </div>
      <button pButton type="button" icon="pi pi-times" class="dialog-header-icon p-link" (click)="close()"></button>
    </div>

    <div class="dialog-body">
      <p [ngaTranslate]="['changeStatus', status, 'question'] | toPath" [translateValues]="{ id: <%= entityInstance %>?.<%= primaryKey.name %> }">
        Are you sure you want to change status this <%= entityClassHumanized %>?
      </p>
    </div>

    <div class="dialog-footer">
      <button
        pButton
        type="button"
        icon="pi pi-ban"
        [label]="['changeStatus', status, 'cancel'] | toPath | ngaTranslate : 'Cancel'"
        class="p-button-outlined p-button-secondary"
        (click)="close()"
      ></button>

      <button
        pButton
        type="submit"
        [ngClass]="{ 'p-button-success': status === df.Enum.<%= hasStatusField.tsType %>.ACTIVE, 'p-button-danger': status === df.Enum.<%= hasStatusField.tsType %>.INACTIVE }"
        [icon]="status === df.Enum.<%= hasStatusField.tsType %>.ACTIVE ? 'pi pi-check' : 'pi pi-times'"
        [loading]="inProgress"
        [label]="['changeStatus', status, 'submit'] | toPath | ngaTranslate: 'Change'"
      ></button>
    </div>
  </form>
</div>
